.city-suggestion-text {
  width: 100%;
  padding: 35px 0;
  text-align: center;
  border-top: 1px solid #222326;
  border-bottom: 1px solid #222326;
  background: #0b0b0b;
}

.preview-date-header {
  max-width: 1800px !important;
  margin: 0 auto !important;
}

@media screen and (min-width: 767px) {
  .steps_wraps_previewdate {
    margin-left: auto !important;

    ul {
      margin: 0 auto !important;
    }
  }
}

@media screen and (min-width: 767px) {
  .step-1 {
    margin-left: 70px;
  }
}

@media screen and (max-width: 430px) {
  .step-1 {
    margin-left: 10px;
  }
}

@media screen and (min-width: 767px) {
  .choose-city-next-btn {
    max-width: 340px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .choose-city-steps {
    margin-left: -5px !important;
  }
}

@media screen and (min-width: 401px) {
  .choose-city-steps {
    margin-left: 3px !important;
  }
}

@media only screen and (max-width: 425px) and (min-width:400px) {
  .create-date-wrap .step-wraps {
    margin-left: 0px;
  }
}

.rate-tag {
  padding: 0 8px;
  text-align: end;
}

// @media screen and (max-width: 500px) {
//   .rate-tag {
//     padding: 0 60px;
//   }
// }

.mobile-verified-btn {
  //position: absolute;
  width: 100%;
  background-color: #f24462;
  color: #fff;
  border: none;
  line-height: 46px;
  cursor: pointer;
  outline: none;
  min-height: 50px;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Helvetica-Light";
  margin-top: 20px;
}

.verified-upload-mobile {
  width: 80%;
  height: 91px;
  margin: 20px auto 0 auto;
}

.verified-upload-btn-1 {
  margin-top: 14px;
}

@media only screen and (min-width: 767px) {
  .verified-upload {
    width: 380px;
  }
}

// @media only screen and (min-width: 1400px){
//   .modal-fade-1{
//     margin:15px;
//     margin-left: 68px;
//   }
// }

.date-block-section {
  height: 133px;
  width: 100%;
  background: linear-gradient(0deg, #151515, #151515),
    linear-gradient(223.12deg, #293036 -60.08%, #272D32 104.31%);
  ;
  border-radius: 8px;
  border: 1px solid #293036;
}

@media only screen and (max-width:480px) {
  .create_date_mobile-btn {
    width: 60%;
    font-size: 14px;
    font-weight: 400;
    background: #F24462;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.date-text-1 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.07px;
  color: #4F4E54;
  padding-top: 8px;
}

.price-card-name {
  display: flex;
  flex-direction: column;

  .date-price-card {
    font-size: 15.21px;
    font-weight: 700;
    letter-spacing: 0.07px;
  }
}

.sidebar_wrap {
  .sidebar-nav-link {
    margin-top: 30px;
  }
}

.verifed-btn-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media only screen and (min-width:768px) {
  body .verification_card_header {
    .available-dates-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .available-dates-box1 {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width:425px) {
  body .verification_card_header {
    .available-dates-box {
      display: flex;
      overflow-x: auto;
      padding-top: 6px;
      align-items: center;
    }

    .available-dates-box::-webkit-scrollbar {
      display: none;
    }

    .availabe_card_inner {
      background: #1c1c1c;
      padding: 10px;
      border-radius: 8px;
      position: relative;
      display: flex;
      align-items: flex-end;
      min-height: 65px;
      margin-bottom: 12px;
      margin-right: 10px;
      flex: 1;
      min-width: 290px;
    }
  }
}

@media (min-width:991px) and (max-width:1199px) {
  body .verification_card_header {
    .availabe_card_inner {
      background: #1c1c1c;
      padding: 10px;
      border-radius: 8px;
      position: relative;
      display: flex;
      align-items: flex-end;
      min-height: 65px;
      margin-bottom: 12px;
      margin-right: 10px;
      flex: 1;
      min-width: 168px;
    }
  }
}

// .modal-open-blur {
//   // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
//   background: rgba(25, 27, 31, 0.9);
//   backdrop-filter: blur(6px);
// }
.resend-mail-text:hover {
  color: #f24462 !important;
}

.ls-logo {
  width: 35px;
  margin: 30px 20px;
}

.ls-text {
  padding: 10px 20px;
  color: #fff;
}

@media only screen and (max-width:426px) {
  .LeSociety-Icon-White {
    display: contents;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .ls-logo {
      margin: 30px 20px 0px 20px;
    }

    .ls-text {
      padding: 0px;
    }
  }
}

.home-main-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width:426px) {
  .home-main-section {
    flex-direction: column;
  }

  .main-title {
    padding-bottom: 25px;
  }

  .main-content {
    font-size: 16px;
    padding: 15px 30px;
  }
}

.main-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 0.75;
  letter-spacing: 4.8px;
  line-height: 1.1;
  text-align: right;
}

@media only screen and (max-width :426px) {
  .main-title {
    font-size: 40px;
    font-weight: 800;
    line-height: 0.75;
    letter-spacing: 4.8px;
    line-height: 1.1;
    text-align: center;
  }
}

.main-card-side-wraper {

  .main-card {
    background-image: linear-gradient(171deg, #b2d3ff 8%, rgba(34, 34, 255, 0) 31%,
        #5c7bff 52%, rgba(52, 107, 255, 0.04) 72%, #9be0ff 95%);
    backdrop-filter: blur(3px);
    z-index: 1;
    width: 200px;
    border: 2px solid #5c7bff;
    box-shadow: 0 0 3px white;
    border-radius: 10px;
    margin: auto;

    .main-card-side-wraper-1 {
      margin: 20px -54px;
    }
  }
}

.main-content {
  padding: 5px 15px;
  font-size: 18px;
}

@media only screen and (max-width:426px) {
  .home-footer-main {
    padding: 0;
  }

  .home-footer {
    display: flex;
    flex-direction: column;
  }

  .ls-logo-footer {
    margin: 10px auto;
    padding: 10px 5px;
  }

  .footer-icon-box {
    padding: 0px 20px 10px 20px;

    .footer-icon {
      text-align: center;
    }
  }

}

.footer-icon-box {
  margin-top: 10px;
}

.footer-icon {
  text-align: start;
}

.footer-text-1 {
  font-size: 16px;
  color: #fff;
  text-align: start;

}

@media only screen and (max-width:426px) {
  .footer-text-1 {
    padding: 10px 20px;
    text-align: center;
  }
}

.footer-text-2 {
  font-size: 16px;
  color: #686868;
  text-align: start;
}

.aboutCardContent {
  padding: 10px 45px;
  text-align: center;
  font-size: 18px;
  line-height: 1.16;
  //letter-spacing: 0.02px;
}

.main-content-icon {
  padding: 10px 45px;
  //margin:0 45px 0 45px;
}

.signUpLadybtn {
  //width: 327.8px;
  height: 35px;
  border-radius: 15px;
  border: #f24462;
  background-color: #f24462;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 0 10px;
  margin: 0 10px;
}

#signupbtn {
  height: 35px;
  border: #f24462;
  background-color: #f24462;
  color: #fff;
  text-align: center;
  font-size: 15px;
  border-radius: 15px;
  padding: 0 30px;
}

@media only screen and (max-width:426px) {
  .navbarfixedmain {
    border-radius: 30px 22px 0px 0px;
    //opacity: 0.9;

  }
}

@media only screen and (max-width:426px) {
  .containernavbarfooter {
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
  }

  .navbarfooter-text {
    margin: auto;
    display: flex;

    .navbarfooter-text-1 {
      margin-top: 12px;
      //width: 240px;
    }
  }
}

.navbarfooter-btn {
  transition: ease-in-out;
}

@media only screen and (max-width:426px) {
  .navbarfooter-btn {
    margin-bottom: 20px;
    transition: ease-in-out;

    .sidebarhome {
      padding: 10px 20px;
    }

    .signUpLadybtn {
      margin-top: 10px;
      width: 275px;
    }
  }
}


.card_1 {
  background-color: #222326;
  border-radius: 15px;
  border: 1px solid #83f4ff;
  //width: 320px;
  opacity: 0.5;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4.24px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 5px 0px 5px;
}

.card-app-pay {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  letter-spacing: normal;
  padding: 10px 82px;
  //margin: 10px 15px;
}

#sneakPeakbtn {
  background-color: #f24462;
  border-radius: 15px;
  text-align: center;
  margin: 15px 75px;
}

#howitworkbtn {
  background-color: #f24462;
  border-radius: 15px;
  text-align: center;
  margin: 10px 70px;
}


.heading-title{
  color:"#fff";
  font-size: 40px;
  letter-spacing: 0.02px;
  line-height: normal;
}

.futureDatingContent{
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}