.city-suggestion-text {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #222326;
  border-bottom: 1px solid #222326;
  background: #0b0b0b;
}

@media screen and (max-width: 767px) {
  .inner-part-page .auth-section {
    padding: 0;
  }
}
